*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Gowun Dodum', sans-serif;
    box-sizing: border-box;  
}

.contenedor{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

.fila{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    clear: both;
    display: table; 
}

[class*="col-"]{ 
    float: left;
    padding: 10px;
}

header #logo{
    font-family: 'Style Script', cursive;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
}

header center p{
    text-align: center;
    width: 42px;
    line-height: 42px;
    border-radius: 100%;
    background: rgb(255, 213, 176);
    color: white;
}

header center#icono1 p{
    background: rgb(255, 213, 176);
}
header center#icono2 p{
    background: rgb(255, 213, 176);
}
header center#icono3 p{
    background: rgb(255, 213, 176);
}

ul li{
    padding: 10px;
    text-align: center;
}

nav ul li a{
    display: block;
    font-family: 'Style Script', cursive;
    background: rgb(255, 213, 176);
    color: black;
    font-size: 25px;
}

nav ul li a:hover{
    background: rgb(255, 229, 206);
    color: salmon; 
}

nav ul li a:active{
    color: white; 
}

#section3 center{
    padding: 20px;
}

#section3 img{
    border-radius: 100%;
    height: 160px;
}

#section4 aside ul li{
    background: rgb(255, 213, 176);
    padding: 10px;
    margin: 2px 10px;
    text-align: center;
}

#section4 aside ul li a{
    color: black;
}

#section4 aside ul li a:hover{
    color: salmon;
}

#section4 article h1{
    font-size: 25px;
    margin: 20px;
    text-align: center;
}

#section4 article p img{
    float: left;
    margin-right: 10px;
}

#section4 article p{
    margin: 5px 20px;
    text-align: justify;
}

#section4 aside#der h1{
    line-height: 50px;
    text-align: center;
    background: rgb(255, 213, 176);
    margin-bottom: 5px;
}

#section4 aside#der input{
    width: 100%;
    height: 35px;
    padding: 10px;
    margin: 5px 0;
}


#section4 aside#der input[type="email"]{
    background: url(../img/user.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

#section4 aside#der input[type="password"]{
    background: url(../img/pass.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

#section4 aside#der input[type="submit"]{
    height: 35px;
}

footer{
    position: relative;
    margin: 20px auto;
    background: rgb(255, 213, 176);
    text-align: center;
    line-height: 70px;
}
/*PANTALLA DE ESCRITORIO GRANDE - LARGE (lg)*/
@media(min-width:1200px){
    .col-lg-1{
        width: 8.33333333%;
    }
    .col-lg-2{
        width: 16.66666666%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{ 
        width: 33.33333333%;
    }
    .col-lg-5{
        width: 41.66666666%;
    }
    .col-lg-6{ 
        width: 50%;
    }
    .col-lg-7{
        width: 58.33333333%;
    }
    .col-lg-8{
        width: 66.66666666%;
    }
    .col-lg-9{
        width: 75%;
    }
    .col-lg-10{
        width: 83.33333333%;
    }
    .col-lg-11{
        width: 91.66666666%;
    }
    .col-lg-12{
        width: 100%;
    }
    .col-lg-0{
        display: none;
    }
}

/*PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md)*/
@media(max-width: 1199px) and (min-width: 992px){
    .col-md-1{
        width: 8.33333333%;
    }
    .col-md-2{
        width: 16.66666666%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{ 
        width: 33.33333333%;
    }
    .col-md-5{
        width: 41.66666666%;
    }
    .col-md-6{ 
        width: 50%;
    }
    .col-md-7{
        width: 58.33333333%;
    }
    .col-md-8{
        width: 66.66666666%;
    }
    .col-md-9{
        width: 75%;
    }
    .col-md-10{
        width: 83.33333333%;
    }
    .col-md-11{
        width: 91.66666666%;
    }
    .col-md-12{
        width: 100%;
    }
}

/*PANTALLA DE ESCRITORIO SMALL (sm)*/
@media(max-width: 991px) and (min-width: 768px) {
    .col-sm-1{
        width: 8.33333333%;
    }
    .col-sm-2{
        width: 16.66666666%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{ 
        width: 33.33333333%;
    }
    .col-sm-5{
        width: 41.66666666%;
    }
    .col-sm-6{ 
        width: 50%;
    }
    .col-sm-7{
        width: 58.33333333%;
    }
    .col-sm-8{
        width: 66.66666666%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-10{
        width: 83.33333333%;
    }
    .col-sm-11{
        width: 91.66666666%;
    }
    .col-sm-12{
        width: 100%;
    }
    .col-sm-0{
        display: none;
    }
}

/*PANTALLA DE ESCRITORIO EXTRA SMALL (xs)*/
@media(max-width: 767px) {
    .col-xs-1{
        width: 8.33333333%;
    }
    .col-xs-2{
        width: 16.66666666%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-4{ 
        width: 33.33333333%;
    }
    .col-xs-5{
        width: 41.66666666%;
    }
    .col-xs-6{ 
        width: 50%;
    }
    .col-xs-7{
        width: 58.33333333%;
    }
    .col-xs-8{
        width: 66.66666666%;
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-10{
        width: 83.33333333%;
    }
    .col-xs-11{
        width: 91.66666666%;
    }
    .col-xs-12{
        width: 100%;
    }
    .col-xs-0{display: none;}
}

/*
#chat{
    position: fixed;
    width: 200px;
    height: 40px;
    bottom: 0;
    right: 20px;
    background: salmon;
    z-index: 1;
    color: white;
    text-align: center;
    line-height: 40px;
    font-family: 'Style Script', cursive;
    font-size: 26px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

header{
    width: 1000px;
    height: 120px;
    position: relative;
    margin: 20px auto;

}
#logo{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
    height: 60px;
    font-family: 'Style Script', cursive;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
}
.redsocial{
    position: absolute;
    top: 42px;
    width: 42px;
    height: 42px;
    background: rgb(255, 213, 176);
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
    color: white;
}
#icono1{
   right: 120px; 
}
#icono2{
    right: 71px;
}
#icono3{
    right: 19px;
}

nav{
    width: 1000px;
    height: 48px;
    position: relative;
    margin: auto;
}
.botones{
    float: left;
    width: 196px;
    height: 48px;
    margin: 0px 2px;
    background: rgb(255, 213, 176);
    color: black;
    font-family: 'Style Script', cursive;
    font-size: 25px;
    text-align: center;
    line-height: 48px;           
}

a .botones:hover{
    background: rgb(255, 229, 206);
    color: salmon;  
}

a .botones:active{
    color: white;   
}

#top{
    width: 1000px;
    height: 192px;
    position: relative;
    margin: 20px auto;
}

#top ul{
    width: 1010px;
    height: 192px;
}

#top ul li{
    float: left;
    width: 326px;
    height: 192px;
    margin-right: 10px;
    font-size: 24px;
    text-align: center;
    font-family: 'Style Script', cursive;
}

#top ul li img{
    border-radius: 100%;
    height: 150px;
}

section{
    width: 1000px;
    height: 453px;
    position: relative;
    margin: auto;
}

#izq{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 453px;
    
}

aside#izq ul li{
    background: rgb(255, 213, 176);
    padding: 10px;
    margin: 2px 10px;
    text-align: center;
    background-image: url(img/paw.png);
    background-repeat: no-repeat;
    background-position: 25px 15px;
    background-size: 20px;  
}

aside#izq ul li a{
    text-decoration: none;
    color: black;
}
aside#izq ul li a:hover{
    color: salmon;
}

article{
    position: absolute;
    left: 200px;
    top:0px;
    width: 600px;
    height: 453px;
    
}

article h1{
    font-size: 25px;
    margin: 20px;
    text-align: center;
}

article p img{
    float: left;
    margin-right: 10px;
}

article p{
    margin: 5px 20px;
    text-align: justify;
}

#der{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    height: 453px;
}

#sign_in h1{
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgb(255, 213, 176); 
}

#sign_in input{
    width: 196px;
    height: 30px;
    margin: 5px 0;
}

aside#der input[type="email"]{
    background: url(img/user.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

aside#der input[type="password"]{
    background: url(img/pass.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

aside#der input[type="submit"]{
    width: 100px;
    height: 35px;
    margin-left: 50px;
}

footer{
    width: 1000px;
    height: 70px;
    position: relative;
    margin: 20px auto;
    background: rgb(255, 213, 176);
    text-align: center;
    line-height: 70px;
}
*/